.my-account {
  padding: 20px calc(50% - 640px);
  display: flex;
}

.avatar {
  width: 20%;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
}

.personal-info {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.personal-info > * {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.personal-info > * span{
  margin-right: 10px;
}

.actions {
  margin-left: auto;
  width: 20%;
}

.actions > * {
  padding: 10px 5px;
  margin-bottom: 10px;
  transition: ease .5s;
  width: 100%;
  background: linear-gradient(90deg, #72d154 0%, #ffffff 100%);
  background-position: -350px 33px;
  background-repeat: no-repeat;
}
.actions .info:hover {
  background-position: 0px 33px;
}

.actions .delete{
  background: linear-gradient(90deg, #FE1600 0%, #ffffff 100%);
  background-position: -350px 33px;
  background-repeat: no-repeat;
}
.actions .delete:hover {
  background-position: 0px 33px;
}

.books {
  padding: 20px calc(50% - 640px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.books h2 {
  grid-column: span 4;
}

.books .book {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.books .book .cover {
  width: 100%;
  height: fit-content;
}

.books .book .cover img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.books .book .status {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  /* background-color: #ffffff; */
  background: linear-gradient(90deg, #43cfd7 0%, #72d154 100%);
  color: #ffffff;
  width: 100%;
  padding: 10px;
}

.books .book .status span {
  margin-right: 10px;
}

.books .book .book-data {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #00000075;
  padding: 10px;
  color: #ffffff;
  transition: ease .4s;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.books .book:hover .book-data {
  left: 0;
}

.books .book .book-data a {
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #72d154;
  margin-top: 10px;
}

.books .book .book-data p {
  margin-bottom: auto;
}

.books .book .book-data .delete {
  background-color: #FE1600;
}

.books .book .book-data a span {
  margin-right: 5px;
}

.change-email {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000075;
  z-index: 10000;
  top: 0;
}

.change-email form {
  margin: auto;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.change-email form .pagination {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.change-email form .pagination > * {
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: .9em;
  cursor: pointer;
}

.change-email form .pagination a {
  background-color: #FE1600;
  margin-right: 5px;
}

.change-email form .pagination input {
  background-color: #72d154;
  outline: none;
  border: none;
}

.delete-account a {
  background-color: #72d154;
}

.delete-account input {
  background-color: #FE1600;
}