.bookData {
  padding: 50px calc(50% - 720px);
  display: flex;
}

.cover {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 30%;
}
.cover img {
  width: 100%;
}

.data {
  width: 60%;
  padding: 20px;
}

.data pre {
  font-family: 'Roboto Mono', monospace;
  font-variation-settings:
  'FILL' 0;
}

.actions {
  width: 10%;
  display: flex;
  flex-direction: column;
}